<%- include ('./template/cabecera', {tituloa: 'Clientes' }); %>
    <h1 align = 'center' class="text-secundary">Clientes</h1>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <div class="container">
         
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Nombres</th>
                    <th scope="col">Apellidos</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>

                <% if (arrayClientes.length> 0) { %>
                    <% arrayClientes.forEach(cliente=> { %>

                        <tr>
                            <th scope="row"><%= cliente.id %></th>
                            <td><%= cliente.nombre %></td>
                            <td><%= cliente.apellido %></td>
                            <td><%= cliente.cel %></td>
                            <td><%= cliente.direccion %></td>
                            <td><%= cliente.cedula %></td>
                            <td><%= cliente.email %></td>
                            <td><a href="/clientes/<%= cliente.id %>"
                                class="btn btn-info btm-sm">Editar
                            </a>
                            </td>
                                
                        </tr>
                        <% }) %>

                            <% } %>
            </tbody>
        </table>
        <a class ="btn btn-outline-success btn-block my-4"
        href="/Clientes/crear"> Crear Cliente</a>
    </div>
    
    <%- include('./template/footer'); %>