<%- include ('./template/cabecera', {tituloa: 'Produtos' }); %>
    <h1 align='center' class="text-secondary">Productos</h1>

    <meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="../css/style.css">

    <div class="container">
        
        <table class="table table-success table-striped">
            <thead>
                <tr>
                    <th scope="col">Código Producto</th>
                    <th scope="col">Nombre Producto</th>
                    <th scope="col">Nit Proveedor</th>
                    <th scope="col">Precio Compra</th>
                    <th scope="col">IVA</th>
                    <th scope="col">Precio Venta</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>

                <% if (arrayProductos.length> 0) { %>
                    <% arrayProductos.forEach(producto=> { %>

                        <tr>
                            <th scope="row"><%= producto.id %>
                            </th>
                            <td><%= producto.nombre_producto %></td>
                            <td><%= producto.nitproveedor %></td>
                            <td><%= producto.precio_compra %></td>
                            <td><%= producto.ivacompra %></td>
                            <td><%= producto.precio_venta %></td>
                            <td><a href="/productos/<%= producto.id %>"
                                class="btn btn-info btm-sm">Editar</a></td>
                        </tr>

                        <% }) %>

                            <% } %>


            </tbody>
        </table>
        <a class ="btn btn-outline-success btn-block my-4"
        href="/productos/crear_producto"> Crear Producto</a> 
    </div>
    
    <%- include('./template/footer'); %>