<%- include ('./template/cabecera', {tituloa: 'Proveedores' }); %>
    <h1 align = 'center' class="text-light bg-info">Proveedores</h1>

    
    <div class="container">
        <a class ="btn btn-success btn-block my-4"
        href="/proveedores/crear_proveedor"> Crear Proveedor</a> 
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">NIT Proveedor</th>
                    <th scope="col">Ciudad del Proveedor</th>
                    <th scope="col">Direccion del Proveedor</th>
                    <th scope="col">Nombre del Proveedor</th>
                    <th scope="col">Telefono Proveedor</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>

                <% if (arrayProveedores.length> 0) { %>
                    <% arrayProveedores.forEach(proveedor=> { %>

                        <tr>
                            <th scope="row"><%= proveedor.id %></th>
                            <td><%= proveedor.nitproveedor %></td>
                            <td><%= proveedor.ciudad_proveedor %></td>
                            <td><%= proveedor.direccion_proveedor %></td>
                            <td><%= proveedor.nombre_proveedor %></td>
                            <td><%= proveedor.telefono_proveedor %></td>
                            <td><a href="/proveedores/<%= proveedor.id %>"
                                class="btn btn-warning btm-sm">Editar</a></td>
                        </tr>

                        <% }) %>

                            <% } %>


            </tbody>
        </table>
    </div>
    
    <%- include('./template/footer'); %>