<%- include ('./template/cabecera', {tituloa: 'Clientes' }); %>
    <h1 align = 'center' class="text-light bg-info">Proveedores</h1>

    
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Celular</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>

                <% if (arrayProveedores.length> 0) { %>
                    <% arrayProveedores.forEach(cliente=> { %>

                        <tr>
                            <th scope="row"><%= cliente.id %></th>
                            <td><%= cliente.nombre %></td>
                            <td><%= cliente.apellidos %></td>
                            <td><%= cliente.cel %></td>
                            <td><%=  %></td>
                        </tr>

                        <% }) %>

                            <% } %>


            </tbody>
        </table>
    </div>
    
    <%- include('./template/footer'); %>